@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

form{
    padding: 1.5rem;
    display: none;
    flex-direction: column;
    width: 350px;
    gap: 8px;
    box-shadow: 2px 2px 5px 1px gray;
    margin: 20px auto 0;
    border-radius: 5px;
}

form>button, form>input, form>select{
    font-size: 1rem;
    padding: 5px;
}

form>button{
    padding: 8px;
    border: none;
    background-color: blue;
    margin-top: 8px;
    color: white;
    font-weight: 700;
    border-radius: 3px;
}